<a href="iss"><button class ="border-2 border-gray-600 p-2" >click to track the International Space Station Tracker</button></a>
<canvas id="chart" width="200" height="200"></canvas>
<script>
    chartIt()
    
    async function chartIt()
    {
    const data =  await getData()
    const ctx = document.getElementById('chart').getContext('2d');
    const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: data.xlabels,
        datasets: [{
            label: 'Global Average Temperature in C',
            data: data.realData,
            backgroundColor: 
                'rgba(255, 99, 132, 0.2)'
            ,
            borderColor: 
                'rgba(255, 99, 132, 1)'
            ,
            borderWidth: 1,
            fill:false
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, values) {
                        return value +"°";
                    }
                }
            }]
        }
    }
});
    }

    async function  getData()
    {
        const xlabels = [];
        const realData=[];
        const response = await fetch("ZonAnn.Ts+dSST.csv");
        const data = await response.text();
        const table = data.split('\n').slice(1);
        table.forEach(row =>
        {
            const cols = row.split(',');
            const year = cols[0];
            const temp = cols[1];
            const labels = 
            {
                xlabels,realData
            }
            xlabels.push(year);
            realData.push(parseFloat(temp) + 14)
            console.log(year,temp)
        })
        return {xlabels,realData}
    }
    fetch("test.csv")

    
</script>