<h1>Where is the Iss?</h1>
<p>
    latitude: <span id="lat"></span>
</p>
<p>
    longitude: <span id="long"></span>
</p>
 <div id="mapid"></div>
<script>
    // making a map 
    const myMap = L.map('mapid').setView([0,0], 1);
    const attribution ='Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors';
    const tileUrl = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
    const tile = L.tileLayer(tileUrl,{attribution});
    tile.addTo(myMap)
 //icon stuff 
    const myIcon = L.icon({
    iconUrl: '/Images/iss.png',
    iconSize: [50, 32],
    iconAnchor: [25, 16],
});
    const marker =L.marker([0,0],{icon :myIcon}).addTo(myMap);
    // grab data 
    async function getIss()
    {
        const response = await fetch("https://api.wheretheiss.at/v1/satellites/25544");
        const obj = await response.json();
        const latitude = obj.latitude;
        const longitude = obj.longitude;
        console.log(longitude,latitude)
        document.getElementById('lat').textContent = latitude;
        document.getElementById('long').textContent = longitude;
        //update marker
        marker.setLatLng([latitude,longitude])
    }
    getIss()
    
</script>
